{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}

<p>Lorem ipsum</p>

    <p>{{ name }}</p>

    <a href="{{ path('showname') }}">Go to home page</a>


{% endblock %}
